.profile-controller {
  width: 60%;
  min-height: calc(80vh - var(--double-spacing));
  max-height: calc(80vh - var(--double-spacing));
  flex: 1;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-self: center;
  margin: var(--double-spacing);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 15px 0px var(--shadow);
  overflow: hidden;
}

.profile-controller .side-bar {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--double-spacing);
  background-color: var(--accent-primary);
}

.profile-controller .side-bar span {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font: var(--main-title);
  color: var(--background-secondary);
}

.profile-controller .side-bar ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
}

.profile-controller .side-bar ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--half-spacing);
  padding-block: var(--spacing);
  border-radius: var(--border-radius);
  color: var(--background-primary);
  cursor: pointer;
}

.profile-controller .side-bar ul li:hover {
  color: var(--background-primary);
}

.profile-controller .side-bar ul li.active {
  padding-inline: var(--spacing);
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--background-primary);
}

.profile-controller .side-bar ul li.active > svg {
  fill: var(--background-primary);
}

.profile-controller .side-bar ul li svg {
  width: var(--medium-font);
  height: var(--medium-font);
  fill: var(--text-primary);
}

.profile-controller .side-bar button {
  color: var(--accent-primary);
  background-color: var(--background-primary);
}

.profile-controller .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: var(--spacing);
  overflow: hidden;
  overflow-y: visible;
}

@media (min-width: 899px) and (max-width: 1023px) {
  .profile-controller {
    width: 80%;
  }
}

@media (min-width: 560px) and (max-width: 898px) {
  .profile-controller {
    width: 75%;
    max-height: unset;
    flex-direction: column;
  }

  .profile-controller .side-bar {
    width: 100%;
  }

  .profile-controller .content {
    overflow: visible;
  }
}

@media (max-width: 559px) {
  .profile-controller {
    width: 100%;
    max-height: unset;
    flex-direction: column;
  }

  .profile-controller .side-bar {
    width: 100%;
  }

  .profile-controller .content {
    overflow: visible;
  }
}
