header#no-data {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--full-spacing) * 2);
}

header#no-data article {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--half-spacing);
}

header#no-data article h1 {
  font-size: var(--large-font);
  font-weight: 800;
  color: var(--accent-primary);
  white-space: nowrap;
}

header#no-data article p {
  font-size: var(--small-font);
}

header#no-data svg {
  width: 30%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header#no-data {
    flex-direction: column-reverse;
  }

  header#no-data article {
    width: 100%;
    align-items: center;
  }

  header#no-data article h1 {
    font-size: var(--large-font);
  }

  header#no-data article p {
    text-align: center;
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  header#no-data {
    flex-direction: column-reverse;
  }

  header#no-data article {
    width: 100%;
    align-items: center;
  }

  header#no-data article h1 {
    font-size: var(--large-font);
  }

  header#no-data article p {
    text-align: center;
  }

  header#no-data svg {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 559px) {
  header#no-data {
    flex-direction: column-reverse;
  }

  header#no-data article {
    width: 100%;
    align-items: center;
  }

  header#no-data article h1 {
    font-size: var(--large-font);
  }

  header#no-data article p {
    font-size: var(--extra-small-font);
    text-align: center;
  }

  header#no-data svg {
    width: 50%;
    height: 100%;
  }
}
