input {
  background-color: var(--background-primary);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: thin solid transparent;
  font: var(--sub-label);
}

input::placeholder {
  color: var(--text-secondary);
}

input:is(:focus, :hover) {
  border-color: var(--accent-primary);
}

.password-input {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
}

.password-input input {
  width: 100%;
}

.password-input button {
  background-color: var(--background-primary);
  padding: var(--spacing);
  border: thin solid transparent;
}

.password-input button:hover {
  border-radius: var(--border-radius);
  border-color: var(--accent-primary);
}

.password-input button:hover > svg path {
  fill: var(--accent-primary);
}

.password-input button svg path {
  fill: var(--text-primary);
}
