input {
  background-color: var(--background-primary);
  padding: calc(var(--half-spacing) / 2) var(--half-spacing);
  border-radius: var(--border-radius);
  font-size: var(--small-font);
  font-weight: 500;
  border: thin solid transparent;
}

input::placeholder {
  font-weight: initial;
  color: var(--text-secondary);
}

input:is(:focus, :hover) {
  border-color: var(--accent-primary);
}

.password-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(var(--half-spacing) / 2);
}

.password-input input {
  flex: 1;
}

.password-input button {
  background-color: var(--background-primary);
  padding: calc(var(--half-spacing) / 2);
  border: thin solid transparent;
}

.password-input button:hover {
  border-radius: var(--border-radius);
  border-color: var(--accent-primary);
}

.password-input button svg path {
  fill: var(--text-primary);
}
