.doctor-card {
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.doctor-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.doctor-card .image {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 0;
}

.doctor-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctor-card .details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--spacing);
  z-index: 5;
}

.doctor-card .details p {
  font: var(--sub-title);
  color: var(--background-secondary);
}

.doctor-card .details .information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--half-spacing);
}

.doctor-card .details .information small {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--half-spacing);
  color: var(--text-secondary);
  font: var(--sub-text);
}

.doctor-card .details .information small svg path {
  fill: var(--text-secondary);
}

.doctor-card .details .contact {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
  z-index: 5;
}

.doctor-card .details .contact button:first-of-type {
  flex: 1;
}

.doctor-card .details .contact a button {
  height: 100%;
  padding-inline: var(--spacing);
}

/* @media (min-width: 768px) and (max-width: 1023px) {
  .doctor-card {
    width: calc(33.333333333% - var(--half-spacing));
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  .doctor-card {
    width: calc(50% - calc(var(--half-spacing) / 2));
  }
}

@media (max-width: 559px) {
  .doctor-card {
    width: 100%;
  }
} */
