.number-input {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}

.number-input input {
  width: 30px;
  padding: 0;
  text-align: center;
}

.number-input button {
  padding: var(--half-spacing);
}
