textarea {
  background-color: var(--background-primary);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  font: var(--sub-label);
  border: thin solid transparent;
  resize: none;
}

textarea::placeholder {
  color: var(--text-secondary);
}

textarea:is(:focus, :hover) {
  border-color: var(--accent-primary);
}
