button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--half-spacing);
  padding: var(--spacing) var(--double-spacing);
  border-radius: var(--border-radius);
  font: var(--sub-label);
  cursor: pointer;
}

button:hover {
  border-radius: var(--circular-border-radius);
}

button svg {
  max-width: var(--double-spacing);
  height: auto;
}

button.primary {
  background-color: var(--accent-primary);
  color: var(--background-secondary);
}

button.primary svg path {
  fill: var(--background-secondary);
}

button.secondary {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--accent-primary);
}

button.secondary svg path {
  fill: var(--accent-primary);
}

button.success {
  background-color: var(--success);
  color: var(--background-primary);
}

button.success svg path {
  fill: var(--background-primary);
}

button.fail {
  background-color: var(--fail);
  color: var(--background-primary);
}

button.fail svg path {
  fill: var(--background-primary);
}
