.form-wrapper {
  width: 50%;
  height: calc(80vh - calc(var(--spacing) * 2));
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: var(--double-spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
  box-shadow: 0px 0px 15px 0px var(--shadow);
  overflow: hidden;
}

.form-wrapper form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: var(--double-spacing);
}

.form-wrapper form .header {
  font: var(--sub-heading);
  color: var(--accent-primary);
  text-align: center;
}

.form-wrapper form .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
  padding-block: var(--double-spacing);
  overflow: hidden;
  scrollbar-width: none;
  overflow-y: auto;
}

.form-wrapper form .body::-webkit-scrollbar {
  display: none;
}

.form-wrapper form .footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
}

.form-wrapper form .footer a {
  font: var(--sub-text);
  color: var(--text-secondary);
  text-align: center;
}

.form-wrapper form .footer a:hover {
  text-decoration: underline;
}

.form-wrapper > svg {
  flex: 1;
  height: 100%;
  padding: calc(var(--spacing) * 2);
  background-color: var(--accent-secondary);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-wrapper {
    width: 50%;
  }

  .form-wrapper form {
    width: 100%;
  }

  .form-wrapper > svg {
    display: none;
  }
}

@media (min-width: 560px) and (max-width: 767px) {
  .form-wrapper {
    width: 75%;
  }

  .form-wrapper form {
    width: 100%;
  }

  .form-wrapper > svg {
    display: none;
  }
}

@media (max-width: 559px) {
  .form-wrapper {
    width: 100%;
  }

  .form-wrapper form {
    width: 100%;
  }

  .form-wrapper > svg {
    display: none;
  }
}
