footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  padding: calc(var(--double-spacing) * 2);
  background-color: var(--accent-primary);
}

footer section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--spacing);
}

footer section h6 {
  font: var(--main-title);
  color: var(--background-secondary);
}

footer section ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

footer section ul li {
  color: var(--background-secondary);
}

footer section#copyrights {
  justify-content: center;
  align-items: center;
}

footer section#copyrights svg {
  width: 12.5rem;
  height: auto;
}

footer section#copyrights svg path {
  fill: var(--background-secondary);
}

footer section#copyrights span {
  font: var(--sub-text);
  color: var(--background-secondary);
}

footer section#newsletter form {
  width: 100%;
  background-color: var(--accent-secondary);
  display: flex;
  gap: var(--half-spacing);
  padding: var(--spacing);
  border-radius: var(--border-radius);
}

footer section#newsletter form input {
  flex: 1;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  color: var(--background-secondary);
}

footer section#newsletter form input::placeholder {
  color: var(--background-secondary);
}

footer section#newsletter form button svg path {
  fill: var(--background-secondary);
}

footer section#newsletter p {
  font: var(--sub-text);
  color: var(--background-secondary);
}
