.multi-text-input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--spacing);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  border: thin solid transparent;
}

.multi-text-input:hover {
  border-color: var(--accent-primary);
}

.multi-text-input span {
  color: var(--text-secondary);
}

.multi-text-input .input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
}

.multi-text-input .input input {
  flex: 1;
  padding: 0;
  border-radius: 0;
}

.multi-text-input .input input:is(:focus, :hover) {
  border-color: transparent;
}

.multi-text-input ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
}

.multi-text-input ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--half-spacing);
}

.multi-text-input ul li small {
  font: var(--sub-label);
}

.multi-text-input ul li button {
  padding: 0;
}

.multi-text-input ul li button svg {
  width: var(--spacing);
  height: auto;
}
