.radio-input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--half-spacing);
  padding: var(--spacing);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  border: thin solid transparent;
}

.radio-input:hover {
  border-color: var(--accent-primary);
}

.radio-input small {
  font: var(--sub-label);
  color: var(--text-secondary);
  cursor: default;
}

.radio-input ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - var(--half-spacing)), 1fr));
  gap: var(--half-spacing);
}

.radio-input ul li {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--half-spacing);
  font: var(--sub-label);
  text-transform: capitalize;
  border-radius: var(--border-radius);
  padding-block: var(--half-spacing);
  cursor: pointer;
}

.radio-input ul li.selected {
  background-color: var(--accent-primary);
  color: var(--background-secondary);
}
