.appointments {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.appointments .no-data {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.appointments .no-data svg {
  width: 50%;
  height: 50%;
}

.appointments .no-data span {
  color: var(--text-secondary);
}

.appointments ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
}

.appointments ul li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-primary);
}

.appointments ul li .header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--spacing);
  cursor: pointer;
}

.appointments ul li .header img {
  width: 3rem;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: var(--circular-border-radius);
  object-fit: cover;
}

.appointments ul li .header .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.appointments ul li .header .details span {
  font: var(--sub-title);
}

.appointments ul li .header .details small {
  font: var(--sub-text);
  color: var(--text-secondary);
}

.appointments ul li .header .details small.CONFIRMED {
  color: #ffbf00;
}

.appointments ul li .header .details small.DONE {
  color: var(--success);
}

.appointments ul li .header .details small.CANCELED {
  color: var(--fail);
}

.appointments ul li .header button svg path {
  fill: var(--text-primary);
}

.appointments ul li .header button.rotated {
  transform: scale(-1);
}

.appointments ul li .body {
  max-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
  overflow: hidden;
}

.appointments ul li .body.expanded {
  max-height: 100vh;
  margin-top: var(--spacing);
}

.appointments ul li .body div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--half-spacing);
  background-color: var(--background-primary);
}

.appointments ul li .body div span {
  font: var(--sub-title);
}

.appointments ul li .body div small {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: calc(var(--spacing) / 2);
  color: var(--text-secondary);
  font: var(--sub-text);
  white-space: nowrap;
}

.appointments ul li .body div p {
  width: 100%;
  color: var(--text-secondary);
  font: var(--sub-text);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
}

.appointments ul li .body div small svg path {
  fill: var(--text-secondary);
}

.appointments ul li .body p {
  color: var(--text-secondary);
  font: var(--sub-text);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
}

.appointments ul li .footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

.appointments ul li .footer input {
  flex: 1;
  background-color: var(--background-secondary);
}

.appointments ul li .footer > button {
  padding: var(--half-spacing);
}

.appointments ul li .footer button.fill {
  flex: 1;
}
