:root {
  --background-primary: #f2f9f1;
  --background-secondary: #ffffff;
  --accent-primary: #539165;
  --accent-secondary: #98bda3;
  --text-primary: #202020;
  --text-secondary: #b2babe;
  --success: #539165;
  --fail: #f10909;
  --shadow: rgba(0, 0, 0, 0.1);

  /* Headings Font Styles */
  --main-heading: 700 clamp(2rem, 2.25rem, 2.5rem) 'GeneralSans', sans-serif;
  --sub-heading: 700 clamp(1.25rem, 1.5rem, 2rem) 'GeneralSans', sans-serif;
  /* Titles Font Styles */
  --main-title: 600 clamp(1rem, 1.25rem, 1.5rem) 'GeneralSans', sans-serif;
  --sub-title: 600 clamp(0.8rem, 1rem, 1.25rem) 'GeneralSans', sans-serif;
  /* Labels Font Styles */
  --main-label: 500 clamp(0.8rem, 1rem, 1.25rem) 'GeneralSans', sans-serif;
  --sub-label: 500 clamp(0.6rem, 0.8rem, 1rem) 'GeneralSans', sans-serif;
  /* Texts Font Styles */
  --main-text: 400 clamp(0.8rem, 1rem, 1.25rem) 'GeneralSans', sans-serif;
  --sub-text: 400 clamp(0.7rem, 0.8rem, 1rem) 'GeneralSans', sans-serif;

  /* Spacing Units */
  --spacing: 0.75rem;
  --double-spacing: 1.5rem;
  --half-spacing: 0.375rem;
  --border-radius: 0.75rem;
  --circular-border-radius: 10rem;
}
